@model RouteGuardProject.Models.SuperAdminSession

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SuperAdminSession</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SuperAdminId" class="control-label"></label>
                <select asp-for="SuperAdminId" class="form-control" asp-items="ViewBag.SuperAdminId"></select>
                <span asp-validation-for="SuperAdminId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Token" class="control-label"></label>
                <input asp-for="Token" class="form-control" />
                <span asp-validation-for="Token" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginAt" class="control-label"></label>
                <input asp-for="LoginAt" class="form-control" />
                <span asp-validation-for="LoginAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
