@model RouteGuardProject.Models.VehicleRouteTable

@{
    ViewData["Title"] = "Create";
}



<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="my-4 text-center">Create Vehicle Route</h1>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Vehicle Route Details</h4>
                <hr />
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="DriverName" class="control-label mb-2">Driver Name</label>
                        <input asp-for="DriverName" class="form-control mb-1" />
                        <span asp-validation-for="DriverName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DateOfBirth" class="control-label mb-2">Date Of Birth</label>
                        <input asp-for="DateOfBirth" class="form-control mb-1" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Address" class="control-label mb-2">Address</label>
                        <input asp-for="Address" class="form-control  mb-1" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PhoneNo" class="control-label mb-2">Phone Number</label>
                        <input asp-for="PhoneNo" class="form-control mb-1" />
                        <span asp-validation-for="PhoneNo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LicenseNumber" class="control-label">License Number</label>
                        <input asp-for="LicenseNumber" class="form-control" />
                        <span asp-validation-for="LicenseNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LicenseDate" class="control-label mb-2">License Date</label>
                        <input asp-for="LicenseDate" class="form-control mb-1" />
                        <span asp-validation-for="LicenseDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LicenseExpiryDate" class="control-label">License Expiry Date</label>
                        <input asp-for="LicenseExpiryDate" class="form-control" />
                        <span asp-validation-for="LicenseExpiryDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="VehicleModel" class="control-label mb-2">Vehicle Model</label>
                        <input asp-for="VehicleModel" class="form-control mb-1" />
                        <span asp-validation-for="VehicleModel" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="VehicleNumber" class="control-label mb-2">Vehicle Number</label>
                        <input asp-for="VehicleNumber" class="form-control mb-1" />
                        <span asp-validation-for="VehicleNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DistanceTravelByVehicle" class="control-label mb-2">Distance Travel By Vehicle</label>
                        <input asp-for="DistanceTravelByVehicle" class="form-control mb-1" />
                        <span asp-validation-for="DistanceTravelByVehicle" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Source" class="control-label mb-2">Source</label>
                        <input asp-for="Source" class="form-control mb-1" />
                        <span asp-validation-for="Source" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Destination" class="control-label mb-2">Destinations</label>
                        <input asp-for="Destination" class="form-control mb-1" />
                        <span asp-validation-for="Destination" class="text-danger"></span>
                    </div>

                   @*  <div class="form-group">
                        <label asp-for="CreatedAt" class="control-label mb-2"></label>
                        <input asp-for="CreatedAt" class="form-control mb-1" />
                        <span asp-validation-for="CreatedAt" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CreatedBy" class="control-label"></label>
                        <input asp-for="CreatedBy" class="form-control" />
                        <span asp-validation-for="CreatedBy" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ModifiedAt" class="control-label"></label>
                        <input asp-for="ModifiedAt" class="form-control" />
                        <span asp-validation-for="ModifiedAt" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ModifiedBy" class="control-label"></label>
                        <input asp-for="ModifiedBy" class="form-control" />
                        <span asp-validation-for="ModifiedBy" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DummyColumn1" class="control-label"></label>
                        <input asp-for="DummyColumn1" class="form-control" />
                        <span asp-validation-for="DummyColumn1" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DummyColumn2" class="control-label"></label>
                        <input asp-for="DummyColumn2" class="form-control" />
                        <span asp-validation-for="DummyColumn2" class="text-danger"></span>
                    </div> *@

                    <div class="form-group text-center mt-2">
                        <button type="submit" value="Create" class="btn bg-dark text-light">Create</button>
                        <button asp-action="Index" class="btn btn-danger">Back to List</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
