@{
    ViewData["Title"] = "About Project";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<div class="d-flex justify-content-center" > 
   
<div class="card" style="width: 42rem;">
    <img src=https://images.unsplash.com/photo-1473445730015-841f29a9490b?w=30%&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fGxvZ2lzdGljc3xlbnwwfHwwfHx8MA%3D%3D class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title text-center">Summary</h5>
            <p class="card-text">
                Welcome to <span class="fw-bold">Route Gaurd!</span>
            </p>
            <p>   We are a dedicated team committed to revolutionizing logistics management. Our web application is designed to simplify and streamline the tracking and recording of driver details, vehicle information, and route specifics, ensuring your fleet operates efficiently and effectively.
            </p>            
          <p> Our Mission
                Our mission is to provide a user-friendly, reliable, and comprehensive solution for logistics management. We understand the complexities involved in managing a fleet, and our goal is to make it easier for you to focus on what matters most – delivering exceptional service to your customers.
            </p>

        </div>
</div>
</div>